.soupatkoContainer {
  width: 100%;
  margin-bottom: 50px;
}

.questionContainer {
  font-size: large;
  margin-bottom: 20px;
}

.descriptionContainer {
  display: flex;
  justify-content: flex-end;
  font-size: smaller;
  color: #a0a0a0;
  height: 20px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.soupejteContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  height: 20px;
  position: relative;
  top: 70px;
  margin-top: -70px;
  color: #767676;
}

.range {
  color: #767676;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.graphContainer {
  height: 70px;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.graphContainer>div {
  display: inline-block;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 2px solid white;
  height: 1px;
  transition: height 0.8s;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

div#slider.slider.noUi-target {
  background-color: transparent;
  border-radius: 0px;
  border-width: 0 0 1px 0;
  border-color: #DDDDDD;
  box-shadow: none;
  top: -18px;
  margin-bottom: -10px;
}

#slider .noUi-handle {
  box-shadow: none;
  border: none;
  border-radius: 20px;
  background: #666666;
  height: 18px;
  width: 18px;
  top: 9px;
  right: -9px;
}

#slider .noUi-touch-area {
  height: 160%;
  width: 160%;
  position: absolute;
  top: -5px;
  right: -5px;
}

.slider .noUi-handle::before, .slider .noUi-handle::after {
  display: none;
}

#slider .correctAnswer>div {
  background: #EB8B8B;
}

#slider .disabledHandle>div {
  background: #666666;
}

#slider .noUi-tooltip.disabledTooltip {
}

#slider .noUi-tooltip.correctTooltip {
  color: #EB8B8B;
  top: 12px;
}

#slider .noUi-tooltip {
  bottom: 15px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  color: #666666;
  padding-top: 9px;
}

.tagContainer {
  font-weight: 300;
  color: #666666;
  font-size: smaller;
  margin-top: 3px;
}

.noUi-pips.noUi-pips-horizontal {
  padding: 0;
}

.noUi-value {
  color: black;
}

.noUi-marker-horizontal.noUi-marker-large {
  display: none;
}

.radioContainer {
  width: 50vw;
}

.optionsContainer {
  display: flex;
  margin: 8px 0px;
  font-size: 1rem;
  align-items: center;
  height: auto;
}

.dotTextContainer {
  display: flex;
  width: 30%;
}

.labelContainer  {
  margin: 0px 8px;
  height: auto;
}

.columnContainer {
  width: 70%;
}

.horizontalColumn {
  margin: 0px 10px;
  border: 2px solid white;
  background-color: white;
  width: 0px;
  height: 20px;
  transition: width 0.7s;
  transition-timing-function: ease-in-out;
}

.horizontalColumnVisible {
  background-color: #B20707;
}

.correctOption+label {
  color: #5982A2;
  font-weight: 600;
}

@media only screen and (max-width: 400px) {
  .optionsContainer {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 1000px) {
  .radioContainer {
    width: 95vw;
  }
  .optionsContainer {
    flex-flow: column;
    font-size: 1.2rem;
    align-items: flex-start;
  }
  .dotTextContainer {
    width: 80%;
  }
  .columnContainer {
    width: 100%;
  }
}
